/* MOBILE DEVICES  */
@media (min-width:320px) and (max-width:480px) {
    form>div {
        width: 100px;
    }

    form input {
        padding: 15px !important;
        margin-top: 5px;
    }

    .parent button {
        font-size: 13px;
    }

    #radiobtns {
        padding-bottom: 12px;
    }

    #resultMessage {
        margin: 5px 0px 5px 0px;
        font-size: 17px !important;
    }

    .bottom-test {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .modal {
        width: 90% !important;
    }

    .modal__title {
        font-size: 1.7rem !important;
    }

    .modal__text {
        padding: 0px !important;
    }

    .link-2 {
        font-size: 1.5rem !important;
        top: 1rem !important;
        right: 1rem !important;
    }

    .modal__text::before {
        transform: translate(-38%, -53%) !important;
    }
}

/* TABLET DEVICES  & HIGH */
@media (min-width:481px) {
    form input {
        padding: 15px !important;
    }

    #radiobtns {
        padding-bottom: 12px;
    }

    #resultMessage {
        margin: 5px 0px 5px 0px;
    }

    .bottom-test {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .modal {
        width: 450px !important;
    }

    .modal__title {
        font-size: 1.7rem !important;
    }

    .modal__text {
        padding: 0px !important;
    }

    .link-2 {
        font-size: 1.5rem !important;
        top: 1rem !important;
        right: 1rem !important;
    }

    .modal__text::before {
        transform: translate(-38%, -53%) !important;
    }
}